<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/nhap.css">
</head>
<body>
    <div>
        <h3>Newsfeed</h3>
    <ul>
        <div id="divon">
        <%var i = 0 %>
        <%for (var post of postArr) { %>
        <li>Post : </li>
        <li><a href="/users/<%=post.userid%>">Usename</a></li>
        <li>content: <%= post.content%></li>
        <li>Like number : <%= post.likes.length%></li>
        <li>Comment number : <%= post.comments.length%></li>
        <li class="we-comet<%=i%>" id="comment<%=i%>"></li>
        <form class="comment-form" >
            <textarea name="content" id="commentcontent<%=i%>" rows="2" placeholder="comment"></textarea>
            <input type="hidden"  id="postid<%=i%>" value="<%=post.postid%>"/>
            <button type="submit" id="btn" >Comment</button>
        </form>
        
        <li>......................</li>
        <div id="posts-list-cointainer">
            
        </div>
        <%i++%>
        <% }%>
    </div>
    </ul>
    </div>
</body>
</html>
<script src="ajax/nhapcomment.js"></script>